.DS_Store

src/Application/cache/*
!src/Application/cache/index.html

src/Application/logs/*
!src/Application/logs/index.html

!src/Application/*/.htaccess

composer.lock
/vendor/
/nbproject/
.idea/*
.vscode/*

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
