@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

@font-face {
    font-family: 'fontello';
    src: url(../fonts/fontello.eot?50158151);
    src: url(../fonts/fontello.eot?50158151#iefix) format('embedded-opentype'),
    url(../fonts/fontello.woff2?50158151) format('woff2'),
    url(../fonts/fontello.woff?50158151) format('woff'),
    url(../fonts/fontello.ttf?50158151) format('truetype'),
    url(../fonts/fontello.svg?50158151#fontello) format('svg');
}

.icon{
    position:relative;
    top: 1px;
    display:inline-block;
    font-family: 'Glyphicons Halflings', serif !important;
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale; }

.icon.icon-asterisk:before{content:"\002a"}
.icon.icon-plus:before{content:"\002b"}
.icon.icon-eur:before,.icon.icon-euro:before{content:"\20ac"}
.icon.icon-minus:before{content:"\2212"}
.icon.icon-cloud:before{content:"\2601"}
.icon.icon-envelope:before{content:"\2709"}
.icon.icon-pencil:before{content:"\270f"}
.icon.icon-glass:before{content:"\e001"}
.icon.icon-music:before{content:"\e002"}
.icon.icon-search:before{content:"\e003"}
.icon.icon-heart:before{content:"\e005"}
.icon.icon-star:before{content:"\e006"}
.icon.icon-star-empty:before{content:"\e007"}
.icon.icon-user:before{content:"\e008"}
.icon.icon-film:before{content:"\e009"}
.icon.icon-th-large:before{content:"\e010"}
.icon.icon-th:before{content:"\e011"}
.icon.icon-th-list:before{content:"\e012"}
.icon.icon-ok:before{content:"\e013"}
.icon.icon-remove:before{content:"\e014"}
.icon.icon-zoom-in:before{content:"\e015"}
.icon.icon-zoom-out:before{content:"\e016"}
.icon.icon-off:before{content:"\e017"}
.icon.icon-signal:before{content:"\e018"}
.icon.icon-cog:before{content:"\e019"}
.icon.icon-trash:before{content:"\e020"}
.icon.icon-home:before{content:"\e021"}
.icon.icon-file:before{content:"\e022"}
.icon.icon-time:before{content:"\e023"}
.icon.icon-road:before{content:"\e024"}
.icon.icon-download-alt:before{content:"\e025"}
.icon.icon-download:before{content:"\e026"}
.icon.icon-upload:before{content:"\e027"}
.icon.icon-inbox:before{content:"\e028"}
.icon.icon-play-circle:before{content:"\e029"}
.icon.icon-repeat:before{content:"\e030"}
.icon.icon-refresh:before{content:"\e031"}
.icon.icon-list-alt:before{content:"\e032"}
.icon.icon-lock:before{content:"\e033"}
.icon.icon-flag:before{content:"\e034"}
.icon.icon-headphones:before{content:"\e035"}
.icon.icon-volume-off:before{content:"\e036"}
.icon.icon-volume-down:before{content:"\e037"}
.icon.icon-volume-up:before{content:"\e038"}
.icon.icon-qrcode:before{content:"\e039"}
.icon.icon-barcode:before{content:"\e040"}
.icon.icon-tag:before{content:"\e041"}
.icon.icon-tags:before{content:"\e042"}
.icon.icon-book:before{content:"\e043"}
.icon.icon-bookmark:before{content:"\e044"}
.icon.icon-print:before{content:"\e045"}
.icon.icon-camera:before{content:"\e046"}
.icon.icon-font:before{content:"\e047"}
.icon.icon-bold:before{content:"\e048"}
.icon.icon-italic:before{content:"\e049"}
.icon.icon-text-height:before{content:"\e050"}
.icon.icon-text-width:before{content:"\e051"}
.icon.icon-align-left:before{content:"\e052"}
.icon.icon-align-center:before{content:"\e053"}
.icon.icon-align-right:before{content:"\e054"}
.icon.icon-align-justify:before{content:"\e055"}
.icon.icon-list:before{content:"\e056"}
.icon.icon-indent-left:before{content:"\e057"}
.icon.icon-indent-right:before{content:"\e058"}
.icon.icon-facetime-video:before{content:"\e059"}
.icon.icon-picture:before{content:"\e060"}
.icon.icon-map-marker:before{content:"\e062"}
.icon.icon-adjust:before{content:"\e063"}
.icon.icon-tint:before{content:"\e064"}
.icon.icon-edit:before{content:"\e065"}
.icon.icon-share:before{content:"\e066"}
.icon.icon-check:before{content:"\e067"}
.icon.icon-move:before{content:"\e068"}
.icon.icon-step-backward:before{content:"\e069"}
.icon.icon-fast-backward:before{content:"\e070"}
.icon.icon-backward:before{content:"\e071"}
.icon.icon-play:before{content:"\e072"}
.icon.icon-pause:before{content:"\e073"}
.icon.icon-stop:before{content:"\e074"}
.icon.icon-forward:before{content:"\e075"}
.icon.icon-fast-forward:before{content:"\e076"}
.icon.icon-step-forward:before{content:"\e077"}
.icon.icon-eject:before{content:"\e078"}
.icon.icon-chevron-left:before{content:"\e079"}
.icon.icon-chevron-right:before{content:"\e080"}
.icon.icon-plus-sign:before{content:"\e081"}
.icon.icon-minus-sign:before{content:"\e082"}
.icon.icon-remove-sign:before{content:"\e083"}
.icon.icon-ok-sign:before{content:"\e084"}
.icon.icon-question-sign:before{content:"\e085"}
.icon.icon-info-sign:before{content:"\e086"}
.icon.icon-screenshot:before{content:"\e087"}
.icon.icon-remove-circle:before{content:"\e088"}
.icon.icon-ok-circle:before{content:"\e089"}
.icon.icon-ban-circle:before{content:"\e090"}
.icon.icon-arrow-left:before{content:"\e091"}
.icon.icon-arrow-right:before{content:"\e092"}
.icon.icon-arrow-up:before{content:"\e093"}
.icon.icon-arrow-down:before{content:"\e094"}
.icon.icon-share-alt:before{content:"\e095"}
.icon.icon-resize-full:before{content:"\e096"}
.icon.icon-resize-small:before{content:"\e097"}
.icon.icon-exclamation-sign:before{content:"\e101"}
.icon.icon-gift:before{content:"\e102"}
.icon.icon-leaf:before{content:"\e103"}
.icon.icon-fire:before{content:"\e104"}
.icon.icon-eye-open:before{content:"\e105"}
.icon.icon-eye-close:before{content:"\e106"}
.icon.icon-warning-sign:before{content:"\e107"}
.icon.icon-plane:before{content:"\e108"}
.icon.icon-calendar:before{content:"\e109"}
.icon.icon-random:before{content:"\e110"}
.icon.icon-comment:before{content:"\e111"}
.icon.icon-magnet:before{content:"\e112"}
.icon.icon-chevron-up:before{content:"\e113"}
.icon.icon-chevron-down:before{content:"\e114"}
.icon.icon-retweet:before{content:"\e115"}
.icon.icon-shopping-cart:before{content:"\e116"}
.icon.icon-folder-close:before{content:"\e117"}
.icon.icon-folder-open:before{content:"\e118"}
.icon.icon-resize-vertical:before{content:"\e119"}
.icon.icon-resize-horizontal:before{content:"\e120"}
.icon.icon-hdd:before{content:"\e121"}
.icon.icon-bullhorn:before{content:"\e122"}
.icon.icon-bell:before{content:"\e123"}
.icon.icon-certificate:before{content:"\e124"}
.icon.icon-thumbs-up:before{content:"\e125"}
.icon.icon-thumbs-down:before{content:"\e126"}
.icon.icon-hand-right:before{content:"\e127"}
.icon.icon-hand-left:before{content:"\e128"}
.icon.icon-hand-up:before{content:"\e129"}
.icon.icon-hand-down:before{content:"\e130"}
.icon.icon-circle-arrow-right:before{content:"\e131"}
.icon.icon-circle-arrow-left:before{content:"\e132"}
.icon.icon-circle-arrow-up:before{content:"\e133"}
.icon.icon-circle-arrow-down:before{content:"\e134"}
.icon.icon-globe:before{content:"\e135"}
.icon.icon-wrench:before{content:"\e136"}
.icon.icon-tasks:before{content:"\e137"}
.icon.icon-filter:before{content:"\e138"}
.icon.icon-briefcase:before{content:"\e139"}
.icon.icon-fullscreen:before{content:"\e140"}
.icon.icon-dashboard:before{content:"\e141"}
.icon.icon-paperclip:before{content:"\e142"}
.icon.icon-heart-empty:before{content:"\e143"}
.icon.icon-link:before{content:"\e144"}
.icon.icon-phone:before{content:"\e145"}
.icon.icon-pushpin:before{content:"\e146"}
.icon.icon-usd:before{content:"\e148"}
.icon.icon-gbp:before{content:"\e149"}
.icon.icon-sort:before{content:"\e150"}
.icon.icon-sort-by-alphabet:before{content:"\e151"}
.icon.icon-sort-by-alphabet-alt:before{content:"\e152"}
.icon.icon-sort-by-order:before{content:"\e153"}
.icon.icon-sort-by-order-alt:before{content:"\e154"}
.icon.icon-sort-by-attributes:before{content:"\e155"}
.icon.icon-sort-by-attributes-alt:before{content:"\e156"}
.icon.icon-unchecked:before{content:"\e157"}
.icon.icon-expand:before{content:"\e158"}
.icon.icon-collapse-down:before{content:"\e159"}
.icon.icon-collapse-up:before{content:"\e160"}
.icon.icon-log-in:before{content:"\e161"}
.icon.icon-flash:before{content:"\e162"}
.icon.icon-log-out:before{content:"\e163"}
.icon.icon-new-window:before{content:"\e164"}
.icon.icon-record:before{content:"\e165"}
.icon.icon-save:before{content:"\e166"}
.icon.icon-open:before{content:"\e167"}
.icon.icon-saved:before{content:"\e168"}
.icon.icon-import:before{content:"\e169"}
.icon.icon-export:before{content:"\e170"}
.icon.icon-send:before{content:"\e171"}
.icon.icon-floppy-disk:before{content:"\e172"}
.icon.icon-floppy-saved:before{content:"\e173"}
.icon.icon-floppy-remove:before{content:"\e174"}
.icon.icon-floppy-save:before{content:"\e175"}
.icon.icon-floppy-open:before{content:"\e176"}
.icon.icon-credit-card:before{content:"\e177"}
.icon.icon-transfer:before{content:"\e178"}
.icon.icon-cutlery:before{content:"\e179"}
.icon.icon-header:before{content:"\e180"}
.icon.icon-compressed:before{content:"\e181"}
.icon.icon-earphone:before{content:"\e182"}
.icon.icon-phone-alt:before{content:"\e183"}
.icon.icon-tower:before{content:"\e184"}
.icon.icon-stats:before{content:"\e185"}
.icon.icon-sd-video:before{content:"\e186"}
.icon.icon-hd-video:before{content:"\e187"}
.icon.icon-subtitles:before{content:"\e188"}
.icon.icon-sound-stereo:before{content:"\e189"}
.icon.icon-sound-dolby:before{content:"\e190"}
.icon.icon-sound-5-1:before{content:"\e191"}
.icon.icon-sound-6-1:before{content:"\e192"}
.icon.icon-sound-7-1:before{content:"\e193"}
.icon.icon-copyright-mark:before{content:"\e194"}
.icon.icon-registration-mark:before{content:"\e195"}
.icon.icon-cloud-download:before{content:"\e197"}
.icon.icon-cloud-upload:before{content:"\e198"}
.icon.icon-tree-conifer:before{content:"\e199"}
.icon.icon-tree-deciduous:before{content:"\e200"}
.icon.icon-cd:before{content:"\e201"}
.icon.icon-save-file:before{content:"\e202"}
.icon.icon-open-file:before{content:"\e203"}
.icon.icon-level-up:before{content:"\e204"}
.icon.icon-copy:before{content:"\e205"}
.icon.icon-paste:before{content:"\e206"}
.icon.icon-alert:before{content:"\e209"}
.icon.icon-equalizer:before{content:"\e210"}
.icon.icon-king:before{content:"\e211"}
.icon.icon-queen:before{content:"\e212"}
.icon.icon-pawn:before{content:"\e213"}
.icon.icon-bishop:before{content:"\e214"}
.icon.icon-knight:before{content:"\e215"}
.icon.icon-baby-formula:before{content:"\e216"}
.icon.icon-tent:before{content:"\26fa"}
.icon.icon-blackboard:before{content:"\e218"}
.icon.icon-bed:before{content:"\e219"}
.icon.icon-apple:before{content:"\f8ff"}
.icon.icon-erase:before{content:"\e221"}
.icon.icon-hourglass:before{content:"\231b"}
.icon.icon-lamp:before{content:"\e223"}
.icon.icon-duplicate:before{content:"\e224"}
.icon.icon-piggy-bank:before{content:"\e225"}
.icon.icon-scissors:before{content:"\e226"}
.icon.icon-bitcoin:before{content:"\e227"}
.icon.icon-btc:before{content:"\e227"}
.icon.icon-xbt:before{content:"\e227"}
.icon.icon-yen:before{content:"\00a5"}
.icon.icon-jpy:before{content:"\00a5"}
.icon.icon-ruble:before{content:"\20bd"}
.icon.icon-rub:before{content:"\20bd"}
.icon.icon-scale:before{content:"\e230"}
.icon.icon-ice-lolly:before{content:"\e231"}
.icon.icon-ice-lolly-tasted:before{content:"\e232"}
.icon.icon-education:before{content:"\e233"}
.icon.icon-option-horizontal:before{content:"\e234"}
.icon.icon-option-vertical:before{content:"\e235"}
.icon.icon-menu-hamburger:before{content:"\e236"}
.icon.icon-modal-window:before{content:"\e237"}
.icon.icon-oil:before{content:"\e238"}
.icon.icon-grain:before{content:"\e239"}
.icon.icon-sunglasses:before{content:"\e240"}
.icon.icon-text-size:before{content:"\e241"}
.icon.icon-text-color:before{content:"\e242"}
.icon.icon-text-background:before{content:"\e243"}
.icon.icon-object-align-top:before{content:"\e244"}
.icon.icon-object-align-bottom:before{content:"\e245"}
.icon.icon-object-align-horizontal:before{content:"\e246"}
.icon.icon-object-align-left:before{content:"\e247"}
.icon.icon-object-align-vertical:before{content:"\e248"}
.icon.icon-object-align-right:before{content:"\e249"}
.icon.icon-triangle-right:before{content:"\e250"}
.icon.icon-triangle-left:before{content:"\e251"}
.icon.icon-triangle-bottom:before{content:"\e252"}
.icon.icon-triangle-top:before{content:"\e253"}
.icon.icon-console:before{content:"\e254"}
.icon.icon-superscript:before{content:"\e255"}
.icon.icon-subscript:before{content:"\e256"}
.icon.icon-menu-left:before{content:"\e257"}
.icon.icon-menu-right:before{content:"\e258"}
.icon.icon-menu-down:before{content:"\e259"}
.icon.icon-menu-up:before{content:"\e260"}